.contact {
  margin: auto;
  display: flex;
}

.phones {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.link-tel {
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

.link-tel:hover {
  color: #fff;
}

.social-network {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.link-social-network {
  text-decoration: none;
}
