.authentication {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
  text-align: right;
  margin: auto 25px auto;
  text-transform: uppercase;
}

.userProfileImage,
.shoppingCart {
  width: 20px;
}

.authBtn {
  font-size: 1.2em;
}
