.authentication {
  display: flex;
  /* flex-basis: 10%; */
  margin: auto 25px auto;
}

.userProfileImage,
.shoppingCart {
  width: 20px;
  height: 20px;
}

.authBtn {
  font-size: 1.2em;
}

.login-link {
  font-size: 0.8em;
  color: #000;
  text-decoration: none;
  margin: auto 15px auto 5px;
}
.cart-link {
  height: 20px;
}
