.navbar {
  margin: auto;
}
.navbar ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-link {
  color: #000;
  display: inline-block;
  font-size: 1.3em;
  margin: 0 10px;
}

.nav-link::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  transition: 0.5s;
}

.nav-link:hover::after {
  width: 100%;
  height: 1px;
  background: #fff;
}

.link {
  text-decoration: none;
  color: #000;
  transition: 0.5s linear;
}

.link:hover {
  color: #fff;
}
.link li {
  list-style: none;
}
